@import "https://fonts.googleapis.com/css?family=Grenze|Mansalva&display=swap" rel="stylesheet";



/* The navbar container */
.topnav {
  overflow: hidden;
  background: rgba(0, 0, 153, .5);
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background: rgba(255, 153, 51, .5);
  color: black;
  font-weight: bold;
}
