@import "https://fonts.googleapis.com/css?family=Grenze|Mansalva&display=swap" rel="stylesheet";

.homePage {
  margin: 50px;
}

h2 {
  font-family: 'Mansalva', cursive;
  background: #375e97;
  color: #ffbb00;
}

p {
  font-family: 'Grenze', serif;
  color: #f7efe2;
}

a {
  color: yellow;
}

link {
  color: #f70025;
}


/* .homePage {
  text-align: center;
}

.homePage-logo {
  text-align: center;
  margin-top: 15%;
  padding: 70px;
}

.homePage-logo h1 {
  font-size: 5em;
} */

body {
  background-image: url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-color: #fb6542;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
footer {
  background-color: #af1c1c;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  text-align: center;
  min-width: 20%;
}
