/* .Home {
  text-align: center;
}

.Home-logo {
  text-align: center;
  margin-top: 15%;
  padding: 70px;
}

.Home-logo h1 {
  font-size: 5em;
}

.Home-background {
  background-image: url('./assets/images/typewriter.jpg');
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
} */
